<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs496.project1">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_1"
            android:label="@layout/activity_1" />
        <activity
            android:name=".Activity_2"
            android:label="@layout/activity_2" />

        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme"></activity>

        <activity android:name=".Activity_gallary_na" />
        <activity android:name=".Activity_gallary_sa" />
        <activity android:name=".Activity_gallary_eu" />
        <activity android:name=".Activity_gallary_oc" />
        <activity android:name=".Activity_gallary_as" />
        <activity android:name=".Activity_gallary_af" />


        <activity
            android:name=".MainGallaryActivity"
            android:label="@string/title_activity_main_gallary"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <!-- 전화번호부 permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 전화와 메시지를 보내기 위한 permission-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.DIAL_PHONE"/>
    <!-- 사진 갤러리에서 불러오기 위한 permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>